body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
}

li{
    font-style: italic;
    font-size: 20px;
    color: tomato;
    font-weight: normal;
    text-align: justify;
}

a{
    color: cadetblue;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    font-weight: bold;
    font-size: 35px;
}

a:visited{
    color: rgb(158, 83, 96);
}

.normalbold{
    font-weight: bold;
    font-style: normal;
}

.center{
    text-align: center;
}

.aboutmebg{
    background-color: antiquewhite;
    background-position: top right;
    background-size: contain;
}

.boxbaby{
    border: darkgoldenrod;
    border-width: 5px;
    padding: 20px;
    margin: 20px;
    border-color: black;
    border-style: solid;
}

.floatleft{
    float: left;
    border: bisque;
    border-style: solid;
    border-width: 20px;
    border-color: bisque;
    margin: 100px;
}

.floatright{
    float: right;
    border: bisque;
    border-style: solid;
    border-width: 20px;
    border-color: bisque;
    margin: 100px;
}
